.Podcast {
  background-color: rgba(255, 255, 255, 0.75);
  color: black;
  text-align: justify;
  padding: 5%;
  font-size: 18pt;
  line-height: 1.5;
}

.Podcast-header {
  margin: 0 0 50px 0;
  text-align: center;
}

.Podcast-header-content {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  margin: 1rem 0;
}

.Podcast-content {
  display: grid;
  grid-template-columns: 65% 35%;
}

.Podcast-content-episodes {
  margin-right: 50px;
}

.Podcast-photo {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
