.SubscriptionLink {
  width: 100%;
  text-align: center;
  font-size: 14pt;
}

.SubscriptionLink-link {
  color: white;
  transition: 0.15s;
}

.SubscriptionLink-link:hover {
  color: var(--gold);
  transition: 0.15s;
}
