.GuideCard {
  margin: 4rem 0;
}

.GuideCard-text {
  font-size: 14pt;
}

.GuideCard-link {
  color: black;
  transition: 0.15s;
}

.GuideCard-link:hover {
  color: var(--gold);
  transition: 0.15s;
}
